.App {
  text-align: center;
}

.navbar {
  background-image: linear-gradient(black, white);
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  margin: 10px 50px;
  padding: 10px;
  background-color: #006600;
  color: #f2f2f2;
  border: solid 1px black;
  border-radius: 10px;
}
